<div class="page">
    @if (family(); as data) {
    <div class="section intro">
        <div class="heading">
            <h1>{{ data.name }}</h1>
            @if (data.organiser === username) {
            <button class="icon" (click)="onEdit()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" />
                </svg>
            </button>
            }
        </div>
        <p>{{ data.description }}</p>
        <span><strong>Organised By:</strong> {{ data.organiser }}</span>
    </div>

    <div class="section">
        <h3 class="title">Members</h3>
        <div class="members">
            @for (item of members; track item.username) {
            <div class="player">
                <div class="avatar">{{ item.username.charAt(0) }}</div>
                <span>{{ item.username }}</span>
            </div>
            }
        </div>
    </div>

    <div class="section">
        <h3 class="title">Leaderboard</h3>
        <p style="color: var(--text-500);">Select a game to see how members currently rank against each other.</p>
        <div class="picker">
            <app-dropdown [data]="gamePicker()" (selected)="onGameSelection($event)" />
        </div>
        @if (overview().length === 0) {
        <div class="empty-grid">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M784.62-149.85 620.15-314.31Q589-289 550.42-274T467.69-259q-86.61 0-147.42-60.79-60.81-60.79-60.81-147.37 0-86.57 60.79-147.51 60.79-60.95 147.37-60.95 86.57 0 147.51 60.83Q676.31-554.96 676.31-468q0 41.65-15.5 80.15-15.5 38.5-40.5 67.5l164.61 164.5-.15.15Z
                    M467.69-314.31q60.62 0 103.31-42.85t42.69-103.03q0-60.19-42.65-103.35-42.66-43.15-103.5-43.15-60.85 0-103.31 43.16-42.46 43.15-42.46 103.34 0 60.19 42.5 103.04 42.5 42.84 103.42 42.84Z"/>
            </svg>
            <p>No entries selected and/or found.</p>
        </div>
        }
    </div>

    <!-- @if (selectedGame()) {
    <div class="section">
        <div class="leaderboard">
            @for (player of leaderboard(); track player.username; let i = $index) {
            <div class="rank">
                <span class="position">#{{ i + 1 }}</span>
                <div class="avatar">{{ player.username.charAt(0) }}</div>
                <span class="username">{{ player.username }}</span>
                <span class="points">{{ player.points }} pts</span>
            </div>
            }
        </div>
    </div>
    } -->
    } @else {
    <div class="section intro">
        <h1>Family Details</h1>
        <span class="error-text general">{{ generalError() }}</span>
    </div>
    }
</div>

@if (showEdit()) {
<app-form-modal type="updateFamily" [updates]="requestError()" (submitted)="onUpdateGroup($event)" (closed)="showEdit.set(false)" />
}
