<div class="page">
    @if (family(); as data) {
    <div class="section intro">
        <div class="heading">
            <h1>{{ data.name }}</h1>
            @if (data.organiser === username) {
            <button class="icon" (click)="onEdit()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" />
                </svg>
            </button>
            }
        </div>
        <p>{{ data.description }}</p>
        <span><strong>Organised By:</strong> {{ data.organiser }}</span>
    </div>

    <div class="section">
        <h3 class="title">Members</h3>
        <div class="members">
            @for (item of data.members; track item) {
            <div class="player">
                <div class="avatar">{{ item.charAt(0) }}</div>
                <span>{{ item }}</span>
            </div>
            }
        </div>
    </div>

    <div class="section">
        <h3 class="title">Leaderboard</h3>
        <p style="color: var(--text-500);">Select a game to see how members currently rank against each other.</p>
        <div class="picker">
            <app-dropdown [data]="gamePicker()" (selected)="onGameSelection($event)" />
        </div>
        <span class="error-text general">{{ generalError() }}</span>
        @if (selectedGame()) {
        <app-leaderboard [players]="members()" [data]="chartData()" />
        }
    </div>
    } @else {
    <div class="section intro">
        <h1>Family Details</h1>
        <span class="error-text general">{{ generalError() }}</span>
    </div>
    }
</div>

@if (showEdit()) {
<app-form-modal type="updateFamily" [updates]="requestError()" (submitted)="onUpdateGroup($event)" (closed)="showEdit.set(false)" />
}
