.section.intro .heading {
    gap: 15px;
    display: flex;
    align-items: center;
}

.section.intro .heading button.icon {
    padding: 8px;
    margin-top: -12px;
    background-color: var(--primary-30);
    transition: background-color var(--default-animation-delay) ease;
}
.section.intro .heading button.icon:hover {
    background-color: var(--primary-400);
}

.section.intro .heading button.icon svg {
    width: 20px;
}

.section.intro span {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--text-500);
}

.section.intro span strong {
    font-weight: 600;
    font-style: normal;
    color: var(--text-400);
}


.members {
    gap: 25px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 15px 15px;
}

.player {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--background-50);
    border-radius: 50%;
    background-color: var(--healthy-400);
}
.player:nth-of-type(even) .avatar {
    background-color: var(--primary-400);
}

.player span {
    font-weight: 500;
    font-size: 0.85rem;
    color: var(--text);
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.picker {
    align-self: center;
    width: 250px;
    border-radius: 14px;
    border: 1px solid var(--primary-30);
    background-color: var(--background-50);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
    transition: box-shadow var(--default-animation-delay) ease;
}
.picker:hover, .picker:focus-within {
    border: 1px solid var(--accent-300);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.09);
}
