<div class="wrapper">
    <div class="control">
        <span>Items per page:</span>
        <div>
            <app-dropdown class="small" [data]="selector()" (selected)="onResize($event)" />
        </div>
    </div>

    <div class="control">
        <span>{{ range() }}</span>
        <button class="icon" [disabled]="index() === 0" (click)="movePage(false)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M560-253.85 333.85-480 560-706.15 602.15-664l-184 184 184 184L560-253.85Z" />
            </svg>
        </button>
        <button class="icon" [disabled]="!nextPage()" (click)="movePage(true)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z" />
            </svg>
        </button>
    </div>
</div>
