<div class="page">
    <div class="section intro">
        <h1>{{ game().title }} Recap</h1>
        <p>{{ game().summary }}</p>
        <div class="controls">
            <button (click)="showPlaybook.set(true)">Learn More</button>
            <button class="secondary" (click)="navigateToPlay()">Back to Play</button>
        </div>
    </div>

    <div class="section center">
        <app-finder [data]="filters()" (searched)="onSearch($event)" (filtered)="onFilter($event)" />
        <span class="error-text general">{{ generalError() }}</span>
    </div>

    <div class="section split">
        @if (overview().length === 0) {
        <div class="empty-grid">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M784.62-149.85 620.15-314.31Q589-289 550.42-274T467.69-259q-86.61 0-147.42-60.79-60.81-60.79-60.81-147.37 0-86.57 60.79-147.51 60.79-60.95 147.37-60.95 86.57 0 147.51 60.83Q676.31-554.96 676.31-468q0 41.65-15.5 80.15-15.5 38.5-40.5 67.5l164.61 164.5-.15.15Z
                    M467.69-314.31q60.62 0 103.31-42.85t42.69-103.03q0-60.19-42.65-103.35-42.66-43.15-103.5-43.15-60.85 0-103.31 43.16-42.46 43.15-42.46 103.34 0 60.19 42.5 103.04 42.5 42.84 103.42 42.84Z"/>
            </svg>
            <p>No saved game entries found.</p>
        </div>
        } @else {
            @if (chartData().length !== 0) {
            <div class="visuals">
                <app-donut-chart [data]="chartData()" />
            </div>
            }

            <div class="results">
                <div class="board">
                    <ng-content />
                </div>
                <app-paginator [total]="total()" [options]="pageOptions" (paged)="onPage($event)" />
            </div>
        }
    </div>
</div>

@if (showPlaybook()) {
<app-playbook-modal [title]="game().title" [data]="guide()" (closed)="showPlaybook.set(false)" />
}

<!-- @if (activeModal() === 'edit') {
<app-message-modal [data]="message()" [updates]="requestError()" (submitted)="onEditGame()" (closed)="onCloseModal()" />
} -->

@if (activeModal() === 'delete') {
<app-message-modal [data]="message()" [updates]="requestError()" (submitted)="onDeleteGame()" (closed)="onCloseModal()" />
}
