.content {
    opacity: 0;
    display: none;
    width: 100%;
    transition: opacity 1s ease;
}
.content.visible {
    opacity: 1;
    display: flex;
    align-items: center;
    height: 100vh;
}

.layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: auto;
    margin-top: 6rem;
    padding-bottom: 4rem;
}
