<app-menu [class.visible]="loader.loadedHeader()"></app-menu>

<div class="backdrop">
    @for (_ of bubbles; track $index) {
    <span></span>
    }
</div>

@if (!loader.loadedPage()) {
<div class="content visible" style="justify-content: center;">
    <div class="loader"><span></span></div>
</div>
} @else {
    @if (!loader.loadedRequest()) {
    <div class="blocker">
        <div class="loader"><span></span></div>
    </div>
    }
}

<div class="content" [class.visible]="loader.loadedPage()">
    <app-banner />

    <div class="layout">
        <router-outlet></router-outlet>
    </div>
</div>
