.frame {
    width: 100%;
    margin: 4rem auto;
    border-radius: 24px;
    border: 1px solid var(--text-950);
    background-color: var(--background-50);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
}

.frame .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--text-950);
    background: var(--accent-400);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
}
.frame .badge svg {
    fill: var(--text-950);
}

.frame p {
    font-size: 0.9rem;
    color: var(--text-500);
}

.frame .form {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}
