<div class="frame">
    @if (!submitted()) {
    <div class="badge">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
            <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Z
                m320-280L160-640v400h640v-400L480-440Z
                m0-80 320-200H160l320 200Z
                M160-640v-80 480-400Z"/>
        </svg>
    </div>

    <h4>Forgot your password?</h4>
    <p>Enter your username and we'll send a reset link to the email on file.</p>

    <div class="form">
        <span class="error-text general">{{ model().error }}</span>
        @for (item of model().fields; track item) {
        <app-form-field [field]="item" [intake]="model().intake" [validate]="false" />
        }
        <button (click)="onForgotPassword()">Send Reset Link</button>
        <a (click)="navigateToLogin()">Change your mind?</a>
    </div>
    } @else {
    <div class="message">
        <div class="badge">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"/>
            </svg>
        </div>
        <h4>Check your email</h4>
        <p>A password reset link has been sent to the associated email. Please allow a few minutes for delivery and check your spam folder if needed.</p>
    </div>
    }
</div>
