.frame {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 420px;
    padding: 40px;
    text-align: center;
}

.frame > .badge svg {
    width: 35px;
}

.form {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.form a {
    align-self: center;
}

.message {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
